sio-app {
  --sio-left-menu-content-color: #ffffff;
  --sio-left-menu-footer-color: #ffffff;
  --sio-left-menu-header-color: #ffffff;
  --sio-right-menu-content-color: #ffffff;
  --sio-right-menu-footer-color: #ffffff;
  --sio-right-menu-header-color: #ffffff;
}